<?xml version="1.0"?>
<config>
    <modules>
        <TM_Core>
            <version>1.0.0</version>
        </TM_Core>
    </modules>

    <global>
        <models>
            <tmcore>
                <class>TM_Core_Model</class>
            </tmcore>
        </models>
        <blocks>
            <tmcore>
                <class>TM_Core_Block</class>
            </tmcore>
        </blocks>
        <helpers>
            <tmcore>
                <class>TM_Core_Helper</class>
            </tmcore>
        </helpers>
    </global>

    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <tmcore>
                        <class>tmcore/observer</class>
                        <method>preDispatch</method>
                    </tmcore>
                </observers>
            </controller_action_predispatch>
        </events>
        <translate>
            <modules>
                <TM_Core>
                    <files>
                        <default>TM_Core.csv</default>
                    </files>
                </TM_Core>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <tmcore>
                                            <title>Core</title>
                                        </tmcore>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <tmcore>
            <notification>
                <feed_url>templates-master.com/notifier</feed_url>
                <use_https>0</use_https>
                <frequency>24</frequency>
                <last_update>0</last_update>
            </notification>
            <troubleshooting>
                <text><![CDATA[Please <a href='http://templates-master.com/contacts' onclick='window.open(this.href); return false;'>contact us</a>, if you have some issues with one of our modules.]]></text>
            </troubleshooting>
        </tmcore>
    </default>
</config>
