<?xml version="1.0"?>
<config>

    <modules>
        <TM_EasyFlags>
            <version>3.0.3</version>
        </TM_EasyFlags>
    </modules>

    <global>
        <blocks>
            <easyflags>
                <class>TM_EasyFlags_Block</class>
            </easyflags>
        </blocks>
        <helpers>
            <easyflags>
                <class>TM_EasyFlags_Helper</class>
            </easyflags>
        </helpers>
        <resources>
            <easyflags_setup>
                <setup>
                    <module>TM_EasyFlags</module>
                </setup>
            </easyflags_setup>
        </resources>
        <models>
            <easyflags>
                <class>TM_EasyFlags_Model</class>
                <resourceModel>easyflags_resource</resourceModel>
            </easyflags>
            <easyflags_resource>
                <class>TM_EasyFlags_Model_Resource</class>
                <entities>
                    <store>
                        <table>tm_easyflag_store</table>
                    </store>
                    <storegroup>
                        <table>tm_easyflag_storegroup</table>
                    </storegroup>
                </entities>
            </easyflags_resource>
        </models>
    </global>

    <frontend>
        <tm_layout>
            <updates>
                <easyflags condition="easyflags/isEnabled">
                    <file>tm/easyflags.xml</file>
                </easyflags>
            </updates>
        </tm_layout>
        <translate>
            <modules>
                <TM_EasyFlags>
                    <files>
                        <default>TM_EasyFlags.csv</default>
                    </files>
                </TM_EasyFlags>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <events>
            <adminhtml_store_edit_form_prepare_form>
                <observers>
                    <easyflags>
                        <class>easyflags/observer</class>
                        <method>addFlagFliedToEditForm</method>
                    </easyflags>
                </observers>
            </adminhtml_store_edit_form_prepare_form>
            <core_block_abstract_to_html_after>
                <observers>
                    <easyflags>
                        <class>easyflags/observer</class>
                        <method>addFlagToManageStoresGrid</method>
                    </easyflags>
                </observers>
            </core_block_abstract_to_html_after>
            <store_edit>
                <observers>
                    <easyflags>
                        <class>easyflags/observer</class>
                        <method>saveFlagsData</method>
                    </easyflags>
                </observers>
            </store_edit>
            <store_add>
                <observers>
                    <easyflags>
                        <class>easyflags/observer</class>
                        <method>saveFlagsData</method>
                    </easyflags>
                </observers>
            </store_add>
            <store_group_save>
                <observers>
                    <easyflags>
                        <class>easyflags/observer</class>
                        <method>saveFlagsData</method>
                    </easyflags>
                </observers>
            </store_group_save>
        </events>
        <translate>
            <modules>
                <TM_EasyFlags>
                    <files>
                        <default>TM_EasyFlags.csv</default>
                    </files>
                </TM_EasyFlags>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <subscriptionchecker>
            <ignored_sections>
                <easy_flags/>
            </ignored_sections>
        </subscriptionchecker>
        <easy_flags>
            <general>
                <enabled>0</enabled>
                <media_dir>easyflags</media_dir>
            </general>
            <lang_switcher>
                <type>inline</type>
                <label>0</label>
            </lang_switcher>
            <store_switcher>
                <move>0</move>
                <type>inline</type>
                <label>1</label>
            </store_switcher>
        </easy_flags>
    </default>

</config>
