<?xml version="1.0"?>
<config>
    <modules>
        <TM_EasyFlags>
            <version>2.0.0</version>
        </TM_EasyFlags>
    </modules>
    <global>
        <helpers>
            <easyflags>
                <class>TM_EasyFlags_Helper</class>
            </easyflags>
        </helpers>
    </global>
	<default>
        <easyflags>
            <general>
				<enabled>0</enabled>
			</general>
        </easyflags>
    </default>				
    <frontend>
        <layout>
            <updates>
                <easyflags>
                    <file>easyflags.xml</file>
                </easyflags>
            </updates>
        </layout>
        <translate>
            <modules>
                <TM_EasyFlags>
                    <files>
                        <default>TM_EasyFlags.csv</default>
                    </files>
                </TM_EasyFlags>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <TM_EasyFlags>
                    <files>
                        <default>TM_EasyFlags.csv</default>
                    </files>
                </TM_EasyFlags>
            </modules>
        </translate>
    </adminhtml>
</config>