.eflags-inline .flag-link {
    display: inline-block;
    margin: 0 0 0 4px;
    vertical-align: middle;
    text-decoration: none;
}

.eflags-inline .flag-link img{
    vertical-align: middle;
    display: block;
    max-height: 20px;
}

.eflags-inline .flag-link span {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 0.9em;
    padding: 3px;
    text-transform: uppercase;
}

.eflags-select {
    height: 20px;
    min-width: 100px;
}
.eflags-select .flag {
    display: inline-block;
    max-height: 18px;
    vertical-align: middle;
}
.eflags-select.chosen-container-single .chosen-single {
    border-radius: 1px;
    height: 20px;
    line-height: 18px;
    padding: 0 0 0 4px;
}
.eflags-select.chosen-container .chosen-results li {
    padding: 4px 3px;
    color: #444;
}
.eflags-select.chosen-container .chosen-results li.highlighted {
    color: #fff;
}
.eflags-select.chosen-container-single .chosen-drop {
    border-radius: 0 0 1px 1px;
}
.eflags-select.chosen-container-single .chosen-single div b,
.eflags-select.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position-y: 0;
}
/* uncomment code below if you want to hide selected options */
.eflags-select .chosen-results li.result-selected {
/*    display: none; */
}

/* animated easyflags selector apearing */
.form-language {
    transition: opacity 200ms ease-in-out;
    opacity: 1;
}
.eflags-hidden {
    opacity: 0;
}

.store-switcher.eflags-stores-moved {
    float: left;
    margin-right: 10px;
}

.eflags-popup .chosen-with-drop .chosen-drop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0,0,0,.05);
    vertical-align: middle;
    text-align: center;
    width: 100%;
}
.eflags-popup .chosen-with-drop .chosen-drop:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.eflags-popup .chosen-container .chosen-results {
    display: inline-block;
    min-width: 200px;
    padding: 10px;
    background-color: white;
    vertical-align: middle;
}
/* read about :target */
